  

<div class="row">
<div class="col-lg-7">
 <div class="card">

<div ng-hide="todos.length">
      <div class="p-lg text-center animated fadeInUp">
        <span class="text-3x">
          <i class="mdi-action-done-all text-4x text-success"></i>
        </span>
        <h3 class="font-thin">
          Thanks For Uploading Your Video !!
        </h3>
        <h3 class="font-thin">
          Your Video will be published after verification.
        </h3>

        </div>
    </div>
   </div>
  </div>
<div class="col-lg-4">
 

  <div class="card">
        <div class="card-heading">
		<h2>Status</h2>
          <small>Your Video Status</small>
        </div>
        <div class="card-body">
          <div class="streamline b-l b-accent m-b m-l">
            
            <div class="sl-item sl-item-md b-success">
              <div class="sl-icon">
                <i class="mdi-action-done-all text-success"></i>
              </div>
              <div class="sl-content">
                <div class="text-muted-dk">Just now</div>
                <p>Video has been sucessfully uploaded.</p>
              </div>
            </div>

            <div class="sl-item sl-item-md b-success">
              <div class="sl-icon">
                <i class="mdi-action-visibility text-success"></i>
              </div>
              <div class="sl-content">
                <div class="text-muted-dk">Thu, 10 Mar</div>
                <p>Video is under verification.</p>
              </div>
            </div>


            <div class="sl-item sl-item-md b-success">
              <div class="sl-icon">
                <i class="mdi-action-face-unlock text-success"></i>
              </div>
              <div class="sl-content">
                <div class="text-muted-dk">Thu, 10 Mar</div>
                <p>Seen by casttree team</p>
              </div>
            </div>
            

             <div class="sl-item sl-item-md b-success">
              <div class="sl-icon">
                <i class="mdi-action-verified-user text-success"></i>
              </div>
			<div class="sl-item b-info">
              <div class="sl-content">
                <div class="text-muted-dk">Sat, 5 Mar</div>
                <p>Verified and published</p>
              </div>
            </div>
            
           <div class="sl-item sl-item-md b-danger">
              <div class="sl-icon">
                <i class="mdi-navigation-cancel text-danger"></i>
              </div>
		 <div class="sl-item b-info">
              <div class="sl-content">
                <div class="text-muted-dk">Sat, 5 Mar</div>
                <p>Disapproved</p>
              </div>
            </div>

        </div>
      </div>
    </div>
    </div>
    </div>
  