<div style="width: 300px;float: right;">
  <form>
    <div class="input-group stylish-input-group">
      <input type="text"  class="form-control" placeholder="Search people">
      <span class="input-group-addon">
        <button type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>  
      </span>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3 style="padding-left: 15px;font-family: 'Lato', sans-serif;">Followers</h3>
    <hr style="margin-top: 10px;margin-bottom: 10px;" />

    <div class="col-lg-3 col-md-3 col-sm-3" ng-repeat="follower in users">
      <div class="card" >
        <div class="r-t pos-rlt md-ink-ripple" md-ink-ripple="" style="background:url(images/a3.jpg) center center;background-size:cover;height: 130px;">
          <div class="p-lg bg-white-overlay text-center r-t" style="padding-top: 18px;padding-bottom: 18px;">
            <a href class="w-xs inline">
              <img src="images/a3.jpg" class="img-circle img-responsive">
            </a>
          </div>
        </div>
        <div class="card-heading" style="padding-top: 0px;">
          <div class="clear" align="center">
            <h5 style="height: 15px;">
              <a href class="font-bold block">{{follower.personaldetails[0].firstname}} {{follower.personaldetails[0].lastname}}</a>
            </h5>
            <h5><a href class="">{{follower.username}}</a></h5>
            <div class="text-xxs font-thin text-muted">
              <button  md-ink-ripple class="md-btn md-raised m-b btn-fw indigo" ng-click="isFavorites(follower.id)? unfollow(follower.id) : follow(follower.id)">{{ isFavorites(follower.id) ? 'following' : 'Follow' }}</button>
            </div>
          </div>
        </div>
        <!-- <div class="card-tools">
          <ul class="list-inline">
            <li class="dropdown">
              <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                <i class="mdi-action-settings text-md"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                <li><a href>Report</a></li>
                <li ng-click=showConfirm($event)><a href>Block</a></li>
              </ul>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
     
  </div>    
</div>
      