  <div class="center-block w-xxl2 w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <img src="images/main-logo.png" height="50px"> 
      </div>
    </div>
    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b">
        <h4><b style="font-family: 'Lato', sans-serif;">Forgot your password?</b></h4>
        <p class="text-xs m-t"><b style="font-family: 'Lato', sans-serif;">Enter your email address below and we will send you instructions on how to change your password.</b></p>
      </div>
      <form name="reset">
        <div class="md-form-group float-label">
          <input type="email" ng-model="email" class="md-input" required>
          <label>Your Email</label>
        </div>
  <button md-ink-ripple  class="md-btn md-raised pink btn-block p-h-md" ng-disabled="reset.$invalid" ng-click="resetpass()">Send</button>
      </form>
    </div>
    <p id="alerts-container"></p>
    <div class="text-center">Return to <button ui-sref="access.signin" class="md-btn">sign in</button></div>
    <div class="text-center">Return to <button ui-sref="app.index" class="md-btn">Home</button></div>    
  </div>
