<div style="width: 300px;float: right;">
<form>
  <div class="input-group stylish-input-group">
   <input type="text" class="form-control" ng-model="searchmainlist"  placeholder="Search Videos">
    <span class="input-group-addon">
    <button type="submit" ui-sref="app.searchcat({contains:(searchmainlist),categories:(categoryname)})">
      <span class="glyphicon glyphicon-search"></span>
    </button>  
    </span>
  </div>
</form>
</div>
<div class="row">
<div ng-repeat="upload in uploads|limitTo:1">
<h3 style="padding-left: 15px;font-family: 'Lato', sans-serif;">{{upload.categories}}</h3>
</div>
  <div class="col-lg-7 col-md-9 col-sm-9" dir-paginate="upload in uploads| itemsPerPage: usersPerPage" current-page="pagination.current" total-items="count">
    <div class="card md-whiteframe-z2">
     <!--  <a data-dismiss="modal" class="pull-right text-muted-lt text-2x m-t-n inline p-sm">×</a>  --> 
      <div class="card-body" style="padding: 5px; margin-right: 0px;margin-left: 0px; ">
        <div class="row">
          <div class="col-sm-6" style="padding: 5px; margin-right: 0px;margin-left: 0px; ">
            <div class="p" style="padding: 0px;">
              <a ui-sref="app.single({id:upload.id})">
                <img width="100%" ng-src="http://img.youtube.com/vi/{{upload.link.substr(-11)}}/mqdefault.jpg" class="md-card-image" alt="Washed Out" style="padding: 10px;">
              </a>
            </div>
          </div>
          <div class="col-sm-6" style="padding: 5px; margin-right: 0px;margin-left: 0px; ">
            <div class="p" style="padding: 0px;">
            <a ui-sref="app.single({id:upload.id})">
              <h5 class="breakword"><b>{{upload.name}}</b></h5>
              </a>
              <h6 class="breakword">{{upload.discription}}</h6>
              <span>Uploaded by <a ui-sref="app.myprofile({user:upload.uploadername})">{{upload.uploadername}}</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-hide=!$root.id>
           <dir-pagination-controls boundary-links=true on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
      </div>
