<div class="col-sm-8">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading bg-white">
          <h4><b>Notifications</b></h4>
        </div>
        <form>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-11">
                <h4>Activity that invalues you</h4>
              </div>
              <div class="col-sm-1">
                <label class="ui-switch m-t-xs m-r" style="top: 5px;">
                  <input type="checkbox" checked>
                  <i></i>
                </label>
              </div>
            </div>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
            <div class="row">
              <div class="col-sm-11">
                <h4>Birthdays of your followers</h4>
              </div>
              <div class="col-sm-1">
                <label class="ui-switch m-t-xs m-r" style="top: 5px;">
                  <input type="checkbox" checked>
                  <i></i>
                </label>
              </div>
            </div>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
            <div class="row">
              <div class="col-sm-11">
                <h4>Tags</h4>
              </div>
              <div class="col-sm-1">
                <label class="ui-switch m-t-xs m-r" style="top: 5px;">
                  <input type="checkbox" checked>
                  <i></i>
                </label>
              </div>
            </div>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
            <div class="row">
              <div class="col-sm-11">
                <h4>Email Notifications</h4>
              </div>
              <div class="col-sm-1">
                <label class="ui-switch m-t-xs m-r" style="top: 5px;">
                  <input type="checkbox" checked>
                  <i></i>
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>  
          
            