  <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
      <img src="images/main-logo.png" height="50px"> 

      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm">
        Sign in with your {{app.name}} Account
      </div>
      <form name="form">
        <div class="md-form-group float-label">
          <input type="password" class="md-input" name="new_password" ng-model="password" required >
          <label>New password</label> 
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" name="confirm_password" required ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
          <label>Confirm password</label>
          <span ng-show='form.confirm_password.$error.validator'>Passwords do not match!</span>
        </div>      
        
        <button md-ink-ripple type="submit" ng-click="changepass()" class="md-btn md-raised pink btn-block p-h-md">Submit</button>
      </form>
    </div>

    
  </div>
