<style >
  input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
  }
</style>
<div class="center-block w-xxl1 w-auto-xs p-v-md " >
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <img src="images/main-logo.png" height="50px">
      </div>
    </div>
    <div class="panel md-whiteframe-z1 text-color m">
      <div class="panel-heading bg-white">
        <h4><b>Phone Number</b></h4>
      </div>
      <hr style="margin: auto;"/>
      <form name="form" ng-submit="contactdetail(form)">
        <div class="panel-body" style="padding-bottom: 0px;">
          <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;">
                <label>Phone Number</label>
                <input  name="phone" ng-model='mobilenumber' type="number"  required="required">
                <div class="errors" ng-messages="form.phone.$error">  
                  <div ng-message="required">
                    Please Enter Your Mobile Number
                  </div>   

                </div>
              </md-input-container>
              <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-max-date="maxDate"></md-datepicker>
              <div class="errors" ng-messages="form.dateField.$error">
              <div ng-message="required">This date is required!</div>
              </div>
        </div>
        <footer class="p text-right">
          <button type="submit"  class="md-btn md-raised p-h-md {{app.setting.theme.primary}}">Save</button>
          <button ng-click="personaldetail()"  class="md-btn md-raised p-h-md {{app.setting.theme.primary}}">cancel</button>
        </footer>
      </form>
    </div>
  </div>