<div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading bg-white">
            <h4><b>Profile</b></h4>
          </div>
          
<form name="validate">
            <div class="panel-body">

              <div class="row">

                <div class="col-sm-6 m-b">
               
                  <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
                  <label>First Name</label>
                 <input name="firstname" class="md-input" ng-model="firstname" required="required"> 
                  <div  ng-messages="validate.firstname.$error">
                 <div ng-message="required">Please Enter Your First Name</div>
                  </div>
                </md-input-container>  
                </div>
                <div class="col-sm-6 m-b">
                  <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Last Name</label>
                 <input name="lastname" class="md-input" ng-model="lastname" required="required"> 
                  <div  ng-messages="validate.lastname.$error">
               <div ng-message="required">Please Enter Your Last Name</div>
             </div>
                </md-input-container>
                </div>
              </div>
             <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Username</label>
                 <input name="username" class="md-input" ng-model="username" required="required"> 
                  <div  ng-messages="validate.username.$error">
               <div ng-message="required">Please Enter Your Username</div>
               </div>
                </md-input-container>
              
             <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Email</label>
                 <input name="email" class="md-input" ng-model="email" required="required"> 
                  <div class="errors" ng-messages="validate.email.$error">
                 <div ng-message="required">Please Enter Your Email Address</div>
             </div>
                </md-input-container>
              <div class="row">
                <div class="col-sm-4 m-b">
                  <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Phone</label>
                 <input name="phone" class="md-input" ng-model="mobilenumber" required="required"> 
                  <div class="errors" ng-messages="validate.phone.$error">
               <div ng-message="required">Please Enter Your Mobile Number</div>
               </div>
                </md-input-container>   
                </div>
                <div class="col-sm-3 m-b">
                      <md-input-container flex>
                <md-select name="gender" ng-model="gender" required="required" >
                    <label value="gender" style="padding-left: 13px">Gender</label>
                    <md-option value="male">Male</md-option>
                    <md-option value="female">Female</md-option>
                    <md-option value="others">Others</md-option>
                </md-select>
                <div class="errors" ng-messages="validate.gender.$error">
          <div ng-message="required">Please Select Your Gender</div>
        </div>

                </md-input-container>
                </div>
                
                 <div class="col-sm-3 m-b">
                   <md-datepicker ng-model="mydate" name="datefield" md-placeholder="Date Of Birth" md-max-date="maxdate" required="required"></md-datepicker>
                   <div class="errors" ng-messages="validate.datefield.$error" >
                    <div ng-message="required">DOB</div>
                   </div>
                 </div>
                  
              </div>
                            
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Website</label>
                 <input name="firstname" class="md-input" ng-model="website" > 
                  <div class="errors" ng-messages="validate.firstname.$error">
             <div ng-message="required">Please Enter Your First Name</div>
             </div>
                </md-input-container>
              
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Status</label>
                 <input name="firstname" class="md-input" ng-model="status"> 
                  <div class="errors" ng-messages="validate.firstname.$error">
          <div ng-message="required">Please Enter Your First Name</div>
        </div>
                </md-input-container>  
                            
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>About</label>
                 <input name="firstname" class="md-input" ng-model="about" > 
                  <div class="errors" ng-messages="validate.firstname.$error">
          <div ng-message="required">Please Enter Your First Name</div>
        </div>
                </md-input-container>

            <footer class="p text-right">
              <button type="submit" class="md-btn md-raised p-h-md" ng-click="personaldetail()" ng-disabled="form.$invalid">Submit</button>
            </footer>
       </form>
        </div>  
      </div>
    </div>
    <div class="">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading bg-white">
            <h4><b>Social Link</b></h4>
          </div>
          <form>
            <div class="panel-body">
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Facebook Profile Link</label>
                 <input name="firstname" class="md-input" ng-model="fburl" > 
                  <div class="errors" ng-messages="validate.firstname.$error">
          <div ng-message="required">Please Enter Your First Name</div>
        </div>
                </md-input-container>
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Twitter Profile Link</label>
                 <input name="firstname" class="md-input" ng-model="twitterurl" > 
                  <div class="errors" ng-messages="validate.firstname.$error">
          <div ng-message="required">Please Enter Your First Name</div>
        </div>
                </md-input-container>
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Google Plus Profile Link</label>
                 <input name="firstname" class="md-input" ng-model="googleurl"> 
                  <div class="errors" ng-messages="validate.firstname.$error">
          <div ng-message="required">Please Enter Your First Name</div>
        </div>
                </md-input-container>
              <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Instagram Profile Link</label>
                 <input name="firstname" class="md-input" ng-model="instagramurl" > 
                  <div class="errors" ng-messages="validate.firstname.$error">
          <div ng-message="required">Please Enter Your First Name</div>
        </div>
                </md-input-container>
               <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>Youtube Profile Link</label>
                 <input name="firstname" class="md-input" ng-model="youtubeurl"> 
                  <div class="errors" ng-messages="validate.firstname.$error">
          <div ng-message="required">Please Enter Your First Name</div>
        </div>
                </md-input-container>
               <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
               <label>LinkedIn Profile Link</label>
                 <input name="firstname" class="md-input" ng-model="linkedinurl" > 
                  <div class="errors" ng-messages="validate.firstname.$error">
           <div ng-message="required">Please Enter Your First Name</div>
           </div>
                </md-input-container>

            </div>
            <footer class="p text-right">
              <button type="submit" class="md-btn md-raised p-h-md" ng-click="socialdetail()" ng-disabled="form.$invalid">Submit</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
  </div>