  <div class="center-block w-xxl2 w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <img src="images/main-logo.png" height="50px">      
      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm" align="center">
        <h4><b style="font-family: 'Lato', sans-serif;">Sign up to your {{app.name}} Account</b></h4>
      </div>
      <form name="form" ng-submit="register()">
       
        <div class="md-form-group float-label">
          <input type="email" name="email"  class="md-input" ng-model="credentials.email" required>
          <label>Email</label>
        </div>
         <div class="md-form-group float-label">
          <input type="text" name="name" class="md-input" ng-minlength="5"
                ng-maxlength="20" ng-model="credentials.username" required>
                <div  ng-messages="form.name.$error">
        <p  ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <div  ng-message="required">Your name is required.</div>
    </div>

          <label>User Name</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="credentials.password" required>
          <label>Password</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="credentials.confirmpassword" required>
          <label>Retype Password</label>
        </div>
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox" ng-model="agree" required><i class="indigo"></i><a href class="md-primary" ng-click="showAlert($event)"><i><u><b>I Agree with the Terms and Coditions</b></u></i></a>
          </label>
        </div>
        <button md-ink-ripple type="submit" ng-disabled="form.$invalid" class="md-btn md-raised pink btn-block p-h-md">Sign up</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div>Already have an account? <button ui-sref="access.signin" class="md-btn">Sign in</button></div>
    </div>
  </div>
