  <div class="center-block w-xxl2 w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
          <img src="images/main-logo.png" height="50px"> 
      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm" align="center">
        <h4><b style="font-family: 'Lato', sans-serif;">Login with your {{app.name}} Account</b></h4>
      </div>
      <form name="form" ng-submit="authenticate()">
        <div class="md-form-group float-label">
          <input type="email" class="md-input" ng-model="credential.email" required>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="credential.password" required>
          <label>Password</label>
        </div>      
        <div class="m-b-md">        
          <label class="md-check">
            <input type="checkbox"><i class="indigo"></i>Keep me signed in
          </label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md">Login</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div><button ui-sref="access.forgot-password" class="md-btn">Forgot password ?</button></div>
      <div>Do not have an account ? <button ui-sref="access.signup" class="md-btn">Create an account</button></div>
      <div class="m-b">Return to <button ui-sref="app.index" class="md-btn"> Home</button></div>
    </div>
  </div>
