  <div class="center-block w-xxl2 w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <img src="images/main-logo.png" height="50px">      
      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm" align="center">
        <h4><b style="font-family: 'Lato', sans-serif;">Sign up to your {{app.name}} Account</b></h4>
      </div>
      <form name="validate" ng-submit="register(validate)">
       
         <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
                  <label>Email</label>
                 <input name="email" ng-blur="checkemail()" ng-focus="clear()" type="email" class="md-input" ng-model="email" required="required"> 
                  <div  ng-messages="validate.email.$error">
                  <span ng-if="(message)" class="emailvalid"  >Email id is already taken</span>
                  <span ng-message="email">invalid email</span>
                 <div ng-message="required">Please Enter Your Email Address</div>
                  </div>
        </md-input-container> 
        <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
                  <label>Username</label>
                 <input name="username" ng-blur="checkuser()" ng-focus="clearuser()" ng-minlength="2" ng-maxlength="22" type="text" class="md-input" ng-model="username" required="required" ng-pattern='/^[a-zA-Z0-9._]+$/'> 
                  <div  ng-messages="validate.username.$error">
                  <span class="emailvalid" ng-if="(usermessage)" >Username is already taken</span>
                
                 <div ng-message="maxlength">Username should not be maximum of 22 characters in length</div>
                 <div ng-message="minlength">Username should be minimum of 2 characters in length </div>
                 <div ng-message="pattern">Username Can Only Contain Numbers, Letters, Periods and Underscores</div>
                  <div ng-message="required">Please Enter Your Username</div>
                  </div>
        </md-input-container> 
        <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
                  <label>Password</label>
                 <input name="password"  ng-maxlength="20" ng-minlength="5" type="password" class="md-input" ng-model="credentials.password" required="required"> 
                  <div  ng-messages="validate.password.$error">
                 <div ng-message="maxlength">Password should not be maximum 20 characters </div>
                 <div ng-message="minlength">Password should be minimum 5  characters </div>
                  <div ng-message="required">Please Enter Your Password</div>
                  </div>
        </md-input-container> 
        <md-input-container class="md-block" style="margin-bottom: 0px;padding:2px;" >
                  <label>Confirm Password</label>
                 <input name="confirmpassword" compare-to="credentials.password"  type="password"  class="md-input" ng-model="credentials.confirmpassword" > 
                  <div  ng-messages="validate.confirmpassword.$error">
                  <div ng-message="compareTo">Password don't match.Try again?</div>
                  
                  
                  </div>
        </md-input-container> 
        
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox" ng-model="agree" required><i class="indigo"></i><a href class="md-primary" ng-click="showAlert($event)"><i><u><b>I Agree with the Terms and Coditions</b></u></i></a>
          </label>
        </div>
        <button md-ink-ripple type="submit" ng-disabled="form.$invalid" class="md-btn md-raised pink btn-block p-h-md">Sign up</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div>Already have an account? <button ui-sref="access.signin" class="md-btn">Login</button></div>
      <div>Return to <button ui-sref="app.index" class="md-btn">Home</button></div>
    </div>
  </div>
